@font-face {
    font-family: 'koulen';
    src: url('./assets/fonts/koulen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'AD';
    src: url('./assets/fonts/AD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
/*   
@theme {
    --font-koulen: 'koulen', sans-serif;
  } */

  .koulen-font {
    font-family: 'koulen', sans-serif;
  }
  .AD-font {
    font-family: 'AD', sans-serif;
  }
  
  

nav {
    background-image: url('./assets/navbackgroundd.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    background-image: url('./assets/navbackgroundd.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:768px){
  nav {
    background-image: url('./assets/navbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}
}

.main-right-container{
    background-image: url('./assets/herobackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.about{
    background-image: url('./assets/squrebackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.education{
    background-image: url('./assets/timelinebackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}

html {
  scroll-behavior: smooth;
}

.page {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
