@font-face {
    font-family: 'koulen';
    src: url('./assets/fonts/koulen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'AD';
    src: url('./assets/fonts/AD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
/*   
@theme {
    --font-koulen: 'koulen', sans-serif;
  } */

  .koulen-font {
    font-family: 'koulen', sans-serif;
  }
  .AD-font {
    font-family: 'AD', sans-serif;
  }
  
  body{
    overflow-x: hidden !important;
  }

nav {
    background-image: url('./assets/navbackgroundd.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width:768px){
  nav {
    background-image: url('./assets/navbackground.png');
    background-repeat: no-repeat;
    background-size: cover;
}
}

.main-right-container{
    background-image: url('./assets/herobackground.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.about{
    background-image: url('./assets/squrebackground.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.education{
    background-image: url('./assets/timelinebackground.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

html {
  scroll-behavior: smooth;
}

.page {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.loading-container {
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loading-image {
  width: 50px;
  height: 50px;
  animation: scaleUp 2s ease-in-out forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}

/* Hide scrollbar for all scrollable elements with scrollbar-hide class */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari and Opera */
}


@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}

.animate-orbit {
  animation: orbit calc(var(--duration) * 1s) linear infinite;
}
.animation-direction-reverse {
  animation-direction: reverse;
}

